# IDE Fragments
/.vscode
*__pycache__*
*.idea*

# MyPy
.mypy_cache/*

docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.test.yml

# GIT
.git

# Ignore Files
.gitignore

# Mac stuff
*.DS_Store

# Test stuff
tests/cobertura.xml
tests_v2/cobertura.xml

# Terraform stuff
*terraform*

# Virtual Environments
.venv*