# IDE Fragments
/.vscode
*__pycache__*
*.idea*

# MyPy
.mypy_cache

# GIT
.git

# Environment Files
/.env

# Test stuff
tests/cobertura.xml
tests_v2/cobertura.xml

# TF stuff
terraform/*

# Virtualenvs
.venv/*
