exclude: '^$'
fail_fast: false
repos:
-   repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
    - id: black
      language_version: python3.6
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: detect-aws-credentials
    - id: detect-private-key
    - id: trailing-whitespace
    - id: flake8
      args: ['--ignore=E203, E266, E501, W503, F403, F401, E402, W605']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.770
    hooks:
    -   id: mypy
-   repo: https://github.com/Yelp/detect-secrets
    rev: v0.13.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline'] # run: `pip install detect-secrets` to establish baseline
        exclude: .*/tests/.*
