version: "3"

services:
  app:
    build: .
    volumes:
      - $HOME/.aws:/root/.aws:ro
    environment:
      - DB_HOST=test_database
      - DATABASE=_test
      - DB_USER=gfw
      - DB_PASSWORD=postgres  # pragma: allowlist secret
      - DB_PORT=5432
      - DB_HOST_RO=test_database
      - DATABASE_RO=_test
      - DB_USER_RO=gfw
      - DB_PASSWORD_RO=postgres  # pragma: allowlist secret
      - DB_PORT_RO=5432
      - AWS_DEFAULT_PROFILE=gfw-dev
      - LOG_LEVEL=debug
    entrypoint: pytest
    ports:
      - 8008:80
    depends_on:
      - test_database

  test_database:
    container_name: gfw-data-api-test-database
    image: postgis/postgis:11-3.0-alpine
    ports:
      - 54320:5432
    environment:
      - POSTGRES_PORT=5432
      - POSTGRES_DB=_test
      - POSTGRES_USER=gfw
      - POSTGRES_PASSWORD=postgres  # pragma: allowlist secret
    volumes:
      - test_database_data:/var/lib/postgresql/data

volumes:
  test_database_data:
