version: "3"

services:
  app_test:
    build:
      context: .
      args:
        - ENV=test
    container_name: app_test
    volumes:
      - ./app:/app/app:ro
      - ./tests:/app/tests
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DB_HOST=test_database
      - DATABASE=_test
      - DB_USER=gfw
      - DB_PASSWORD=postgres  # pragma: allowlist secret
      - DB_PORT=5432
      - DB_HOST_RO=test_database
      - DATABASE_RO=_test
      - DB_USER_RO=gfw_readonly
      - DB_PASSWORD_RO=readonly  # pragma: allowlist secret
      - DB_PORT_RO=5432
      - LOG_LEVEL=debug
      - AWS_ACCESS_KEY_ID=testing  # pragma: allowlist secret
      - AWS_SECRET_ACCESS_KEY=testing  # pragma: allowlist secret
      - AWS_SECURITY_TOKEN=testing  # pragma: allowlist secret
      - AWS_SESSION_TOKEN=testing  # pragma: allowlist secret
      - POLL_WAIT_TIME=1
      - ROOT=$PWD
      - POSTGRESQL_CLIENT_JOB_DEFINITION=postgres_client_jd
      - GDAL_PYTHON_JOB_DEFINITION=gdal_python_jd
      - TILE_CACHE_JOB_DEFINITION=tile_cache_jd
      - PIXETL_JOB_DEFINITION=pixetl_jd
      - AURORA_JOB_QUEUE=aurora_jq
      - DATA_LAKE_JOB_QUEUE=data_lake_jq
      - TILE_CACHE_JOB_QUEUE=tile_cache_jq
      - PIXETL_JOB_QUEUE=pixetl_jq
      - API_URL="http://app_test:8010"
    entrypoint: wait_for_postgres.sh pytest --cov-report term --cov-report xml:/app/tests/cobertura.xml --cov=app
    depends_on:
      - test_database
      - motoserver

  test_database:
    container_name: gfw-data-api-test-database
    image: postgis/postgis:11-3.0-alpine
    ports:
      - 54321:5432
    environment:
      - POSTGRES_PORT=5432
      - POSTGRES_DB=_test
      - POSTGRES_USER=gfw
      - POSTGRES_PASSWORD=postgres  # pragma: allowlist secret
    volumes:
      - test_database_data:/var/lib/postgresql/data
    restart: on-failure

  motoserver:
    container_name: motoserver
    image: motoserver/moto:latest
    ports:
      - 5000:5000
    entrypoint: moto_server s3 -H 0.0.0.0
    restart: on-failure

volumes:
  test_database_data:
