[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
detect-secrets = "*"
pytest = "*"
pytest-asyncio = "*"
moto = {editable = true, git = "https://github.com/wri/moto.git",ref = "master"}
pytest-cov = "*"
pendulum = "*"

[packages]
fastapi = "*"
gino = "*"
arq = "*"
sqlalchemy-utils = "*"
alembic = "*"
psycopg2-binary = "*"
uvicorn = "*"
geoalchemy2 = "*"
boto3 = "*"
gino_starlette = "*"
requests = "*"
orjson = "*"
python-multipart = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
