[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.9b0"  # Pin to avoid having to allow pre-releases
detect-secrets = "*"
docker = "*"
flake8 = "*"
moto = {editable = true,git = "https://github.com/wri/moto.git",ref = "merge_upstream_commits_child"}
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-timeout = "*"
rasterio = "*"

[packages]
aenum = "*"
aiofiles = "*"
aiohttp = "*"
alembic = "*"
arq = "*"
async-lru = "*"
boto3 = "*"
botocore = "*"
email-validator = "*"
fastapi = "==0.67.0"
geoalchemy2 = "*"
geojson = "*"
gino = "*"
gino_starlette = "==0.1.2"
google-cloud-storage = "*"
httpx = "*"
httpx-auth = "*"
numpy = "*"
orjson = "*"
pendulum = "*"
pglast = "<2"
psycopg2 = "*"
pyproj = "*"
python-multipart = "*"
retrying = "*"
shapely = "*"
sqlalchemy-utils = "*"
typing-extensions = "*"
uvicorn = "*"
fastapi-pagination = "*"
sqlalchemy = "~=1.3"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
