[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docker = "*"
mock = "*"
moto = {editable = true,git = "https://github.com/wri/moto.git",ref = "master"}
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-timeout = "*"
rasterio = "*"

[packages]
aenum = "*"
aiofiles = "*"
aiohttp = "*"
alembic = "*"
arq = "*"
async-lru = "*"
boto3 = "*"
botocore = "*"
email-validator = "*"
fastapi = "*"
geoalchemy2 = "*"
geojson = "*"
gino = "<1.1"
gino_starlette = "*"
httpx = "*"
httpx-auth = "*"
numpy = "*"
orjson = "*"
pendulum = "*"
pglast = "<2"
psycopg2 = "*"
pyproj = "*"
python-multipart = "*"
shapely = "*"
sqlalchemy-utils = "*"
typing-extensions = "==3.7.4.3"
uvicorn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
