# IDE Fragments
/.vscode
*__pycache__*
*.idea*

#MyPy
.mypy_cache

# GIT
.git

# Docker Files
docker-compose.dev.yml
docker-compose.test.yml

# Ignore Files
.gitignore

# Terraform
*terraform*

# Virtual Environments
.venv