CREATE EXTENSION IF NOT EXISTS postgis;
CREATE SCHEMA IF NOT EXISTS {schema};
-- DROP TABLE IF EXISTS {schema}.{table} CASCADE;
CREATE TABLE {schema}.{table}
(
    iso character(3),
	  adm1 text,
		adm2 text,
    longitude numeric NOT NULL,
    latitude numeric NOT NULL,
    alert__date date,
    alert__time_utc text,
    confidence__cat text,
    bright_ti4__K numeric,
    bright_ti5__K numeric,
    frp__MW numeric,
    wdpa_protected_area__iucn_cat text,
    is__regional_primary_forest boolean,
    is__alliance_for_zero_extinction_site boolean,
    is__key_biodiversity_area boolean,
    is__landmark boolean,
    gfw_plantation__type text,
    is__gfw_mining boolean,
    is__gfw_logging boolean,
    rspo_oil_palm__certification_status text,
    is__gfw_wood_fiber boolean,
    is__peat_land boolean,
    is__idn_forest_moratorium boolean,
    is__gfw_oil_palm boolean,
    idn_forest_area__type text,
    per_forest_concession__type text,
    is__gfw_oil_gas	 boolean,
    is__mangroves_2016 boolean,
    is__intact_forest_landscapes_2016 boolean,
    bra_biome__name text,
    alert__count smallint,
    geom geometry(POINT,4326),
    geom_wm geometry(POINT, 3857)
)
PARTITION BY RANGE (alert__date);
