name: Destroy state and delete workspace after deleting feature branch

on: [delete]

jobs:
  build:
    if: github.event.ref_type == 'branch' && (github.event.ref != 'refs/heads/master') && (github.event.ref != 'refs/heads/develop')
    runs-on: "ubuntu-24.04"
    steps:
    - uses: actions/checkout@v5

    - name: Destroy state and delete workspace
      env:
        ENV: dev
        AWS_ACCESS_KEY_ID: ${{ secrets.aws_key_dev }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_dev }}
        AWS_REGION: ${{ secrets.aws_region_dev }}
      run: ./scripts/delete_workspace -w ${{ github.event.ref }} -g "no_sha_available"
