[{
  "name": "${container_name}",
  "image": "${image}",
  "networkMode": "awsvpc",

  "environment": [
    {
      "name": "ENV",
      "value": "${environment}"
     },
     {
      "name": "LOG_LEVEL",
      "value": "${log_level}"
      },
     {
      "name": "AURORA_JOB_DEFINITION",
      "value": "${aurora_job_definition}"
     },
     {
      "name": "AURORA_JOB_QUEUE",
      "value": "${aurora_job_queue}"
     },
     {
      "name": "DATA_LAKE_JOB_DEFINITION",
      "value": "${data_lake_job_definition}"
     },
     {
      "name": "DATA_LAKE_JOB_QUEUE",
      "value": "${data_lake_job_queue}"
     },
     {
      "name": "TILE_CACHE_JOB_DEFINITION",
      "value": "${tile_cache_job_definition}"
     },
     {
      "name": "TILE_CACHE_JOB_QUEUE",
      "value": "${tile_cache_job_queue}"
     },
     {
      "name": "PIXETL_JOB_DEFINITION",
      "value": "${pixetl_job_definition}"
     },
     {
      "name": "PIXETL_JOB_QUEUE",
      "value": "${pixetl_job_queue}"
     }
    ],
  "secrets": [
      {
        "name": "DB_WRITER_SECRET",
        "valueFrom": "${writer_secret_arn}"
      },
       {
        "name": "DB_READER_SECRET",
        "valueFrom": "${reader_secret_arn}"
      }
    ],
  "portMappings": [
      {
        "containerPort": ${container_port},
        "hostPort": ${container_port}
      }
      ],
  "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
      "awslogs-group": "${log_group}",
      "awslogs-region": "${aws_region}",
      "awslogs-stream-prefix": "${container_name}"
    }
  }
}]
