{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "batch:ListJobs",
                "batch:DescribeJobs"
            ],
            "Resource": "*"
        }
    ]
}