{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:ListBucket",
                "s3:PutLifecycleConfiguration"
            ],
            "Resource": "${bucket_arn}"
        },
        {
            "Effect": "Allow",
            "Action": "s3:*",
            "Resource": [
                "${bucket_arn}/*"
            ]
        }
    ]
}